/C#
/C++
/Java
/PowerShell
/txt
/TypeScript

HTML/3quine.html
HTML/calculator.html
HTML/BlackJack.html
HTML/testing.html

JavaScript/jquery.js

# not actually passwords.
Python/passwords.py

*/notes.*
*.exe
*.o
*.obj