/C#
/C++
/Java
/PowerShell
/txt
/TypeScript
/Haskell

HTML/3quine.html
HTML/calculator.html
HTML/BlackJack.html

JavaScript/jquery.js


# not actually passwords.
Python/passwords.py

notes.*
test.*
testing.*
*.exe
*.o
