*.bin

# dynamically created files
/flash-date
/include/stdlib/stdlib-fntable.nasm
/include/stdlib/stdlib-header.inc

# preliminary designs for stuff that doesn't exist yet and will likely change
/docs/prelim/
